@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-5">Welcome to Razor Pages Movie</h1>
    <p>This web page is built using ASP.NET Core</a>.</p>
    <p>Author: Quoc Nguyen.</p>
</div>
